
body {
    font-family: 'Fira Mono', monospace;
    background: url(https://wallpaperaccess.com/full/498960.jpg) black;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat; background-size: cover;   
    
}

.navbar {
    background: white;
    width: auto;
}

header {
    display: block;
    margin-left: 20px;
    color: white;
}

.column {
    display: inline-block;
    margin-left: 20px;
}

h1 {
    font-size: 48px;
    font-weight: 800;
    
}

h2 {
    font-size: 20px;
    text-shadow: 10cm;
    text-decoration: underline;
    color: black;
}

h3 {
    color: white;
    font-size: 14px;
    display: block;
    margin-left: 70px;
}

li {
    font-size: 16px;
    color: black;
}

img {
    border-radius: 50%;
    border: 2px solid white;
    padding: 2px;
    margin-left: 20px; 
    display: block;
}

/* remove bullets */
ul {
    list-style-type: none;
    padding: 0px; 
    margin: 0px; 
  }

/* make boxes transparent */
div.column {
    padding: 10px;
    text-align: justify; 
    background: rgba(255, 255, 255, 0.6);
}


/* using ID
#hobbies { 
    background-color: red;
} */
/* @media (max-width: 480px) {
    body {
        background-image: url(https://images.unsplash.com/photo-1445905595283-21f8ae8a33d2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1773&q=80://images.unsplash.com/photo-1502679726485-931beda67f88?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2076&q=80://images.unsplash.com/photo-1534254910684-68bdc1d69cf7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80);
    }
} */

  /* @media screen and (max-width: 500px) {
    .navbar {
      float: none;
      display: block;
    }
  }   */
    /* background: url(https://images.hdqwalls.com/download/milky-way-sky-4k-47-1280x720.jpg) black; */
    /* background: url(https://images.hdqwalls.com/download/digital-universe-galaxy-1280x720.jpg) black; */
