
body {
    font-family: 'Fira Mono', monospace;
    background: url(https://wallpaperaccess.com/full/498960.jpg) black;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat; 
    background-size: cover;   
    color: white;
}

.navbar {
    background: white;
    width: auto;
    
}

header {
    display: block;
    margin-left: 20px;
    color: white;
}

.column {
    display: inline-block;
    margin-left: 20px;
}

h1 {
    font-size: 48px;
    font-weight: 800px;
}

h2 {
    font-size: 20px;
    text-shadow: 10cm;
    text-decoration: underline;
    color: black;
}

h3 {
    font-size: 14px;
    display: block;
    margin-left: 70px;
}

li {
    font-size: 16px;
    color: black;
}

div p {
    font-size: 14px;
    color: black;
}

img {
    border-radius: 50%;
    border: 2px solid white;
    padding: 2px; 
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;
}

/* remove bullets */
ul {
    list-style-type: none;
    padding: 0px; 
    margin: 0px; 
  }

/* make div columns transparent */
div.column {
    padding: 10px;
    text-align: justify; 
    background: rgba(255, 255, 255, 0.6);
    margin: 10px;
    width: 400px;
}

/* contact me box formatting */
.box {
    padding: 10px;
    text-align: justify; 
    background: rgba(255, 255, 255, 0.6);
    margin: 10px;
    width: 400px;
}

/* contact form input box formatting */
input {
    width: 200px;
    padding: 1px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* style send button */
  input[type=submit] {
    width: 100px;
    /* position: absolute; */
    background: linear-gradient(to bottom,lavender, purple);
    color: #fff;
    height: 30px;
    /* -webkit-border-radius: 15px;
    -moz-border-radius: 15px; */
    border-radius: 15px;
    border: 1px solid #999;
  }


/* @media (max-width: 480px) {
    body {
        background-image: url(https://images.unsplash.com/photo-1445905595283-21f8ae8a33d2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1773&q=80://images.unsplash.com/photo-1502679726485-931beda67f88?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2076&q=80://images.unsplash.com/photo-1534254910684-68bdc1d69cf7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80);
    }
} */

  /* @media screen and (max-width: 500px) {
    .navbar {
      float: none;
      display: block;
    }
  }   */
    /* background: url(https://images.hdqwalls.com/download/milky-way-sky-4k-47-1280x720.jpg) black; */
    /* background: url(https://images.hdqwalls.com/download/digital-universe-galaxy-1280x720.jpg) black; */
