
body {
    font-family: 'PT Mono', monospace;
    background: url(https://wallpaperaccess.com/full/498960.jpg) black;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat; 
    background-size: cover;   
    color: white;
    /* margin: 0px 20px; */
}

.navbar {
    background: white;
    width: 100%;
}

header {
    display: block;
    width: auto;
    text-align: center;
    /* font-size: 20px;  */
}


h1 {
    font-size: 48px;
    color: #b3ccff;
    margin-top: 30px;
}
.intro p {
    color: #b3ccff;
    font-size: 24px;
    text-align: justify;
}
.about {
    color: #ffe083;
    font-size: 24px;
    margin-top: 20px;
    text-align: center;
}
a {
    text-decoration: none;
    color: #ffe083;
}

img {
    display: inline-block;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border: 2px solid white;
    padding: 2px; 
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;
}
.description {
    color: #b3ccff;
    font-size: 24px;
    margin-top: 20px;
    text-align: justify;
    padding: 10px;
    background: rgba(0, 0, 0, 0.7);
    margin: 10px;
    width: auto;
}

.column {
    display: inline-block;
}
h2 {
    font-size: 24px;
    color: #ff8973;
}
li {
    font-size: 24px;
    color: #b3ccff;
    margin-left: 10px;
}
/* remove bullets */
ul {
    list-style-type: none;
    padding: 0px; 
    margin: 0px; 
}
/* contact form label font */
div p {
    font-size: 18px;
    color: #b3ccff;
}
/* make div columns transparent */
div.column {
    padding: 10px;
    background: rgba(0, 0, 0, 0.7);
    margin: 10px;
    width: 400px;
    height: 300px;
}

/* contact me box formatting */
.box {
    padding: 10px;
    background: rgba(0, 0, 0, 0.7);
    margin: 10px;
    width: 500px;
}

/* contact form input box formatting */
input {
    width: 200x;
    padding: 1px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* style send button */
  input[type=submit] {
    width: 100px;
    background: linear-gradient(to bottom,lavender, purple);
    color: #fff;
    height: 30px;
    border-radius: 15px;
    border: 1px solid #999;
  }

/* --------------------------OK above */

/* header p {
    font-size: 20px;
    width: auto;
} */

/* .description, p.hello{
    float: left;
    width: auto;
    
} */

/* h3 {
    font-size: 14px;
    display: block;
    margin-left: 70px;
} */


/* media query at  */
@media screen and (max-width: 320px) {
    .navbar {
        width: auto;
    }
    header h1 {
        margin-top: 10px;
        width: auto;
        font-size: 20px;    
    }
    header p {
        width: auto;
        font-size: 13px;
        text-align: justify;
    }
    div.column p, h2, li, .box p {
        width: auto;
        font-size: 14px;
    }
    div.column, .box {
        height: 170px;
    }
    input {
        width: 130px;
    }
}

/* @media screen and (min-width: 481px) {
}
   
@media screen and (min-width: 769px) {
}

@media screen and (min-width: 1025px) {
}  */

